p{
    
  text-align: end;
  
  display: inline-block;
  font-size: 25px;
  border-radius: 5px;
  border: 30px;
  
}
h1{
   
    display: inline-block;
    width: 90ch;

    
}
.contact{
    display: flex;
    justify-content:space-evenly;
    
}
.para{
    
    margin-left: 10px;
}
img{
    margin-left: 10px;
    
}


.contact1{
    width:100%;
}
button{
    margin-left:1400px;
   margin-top: -30px;
    margin-bottom: 20px;
}